@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: black;
}

canvas {
  display: block;
}
